/* p { 
    background-color: aqua;
}

.paragraph-1 {
    background-color: aqua 
} */

body {
    margin: 0;
}

h2 { 
    text-align: center;
}

.photo {
    background-color: rgb(168, 165, 165);
    padding:  40px;
} 

.photo img { 
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.about p {
    text-align: justify;
    margin: 0 10%;
}

.card-skil{
    width: 100px;
    height: 150px;
    border: 1px solid black

}

.card-conteiner{
    justify-content: center;
}